/*    defaults       */
html, body {
    background-color: #ffffff;
    font-family: sans-serif;
    line-height: 150%;
    color: #1f2328;
    --border-color-muted: #d1d9e0b3;
}
body {
    position: relative;
}

/*    layout   */
article {
    margin: 0 auto;
    max-width: 40rem;
    padding:0;
}
nav {
    position: absolute;
    max-width: 10rem;
    left: 0;
    top:0;
}


/* TOC formatting */
nav {
    list-style: none;
    padding:0;
}
nav li {
    border: 1px solid blue;
    background-color: crimson;
}
nav li:hover {
    background-color: lightblue;
}

/* headers */
h1, h2,h3 {
    padding: 0.5rem 0;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}

/* code blocks */
pre.shiki {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
pre.shiki {
    line-height: 130%;
    margin:0;
}
.codeblock-wrapper {
    border:1px solid black;
    background-color: #4C9A91;
    color: #666666;
    padding:0;
    margin:0;
    position: relative;
}
.codeblock-wrapper .codeblock-button {
    position: absolute;
    right:0;
    top:0;
}
p code {
    background-color: #f0f0f0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}
.highlighted-word {
    padding: 0.1rem;
    background: #dadcdc;
    border-radius: 0.25rem;
}

/* links */

a {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

