/*    defaults       */
html, body {
    --bg-color:#ffffff;
    background-color: var(--bg-color);
    --nav-bg-color: #eee;
    font-family: sans-serif;
    line-height: 150%;
    color: #1f2328;
    --border-color-muted: #d1d9e0b3;
}
body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/*    layout   */
article {
    margin: 0 auto;
    max-width: 40rem;
    padding:0;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
}
nav {
    /*position: absolute;*/
    /*max-width: 10rem;*/
    /*top:0;*/
}
nav.docset {
    /*left: 0;*/
    grid-column: 1;
}
nav.toc {
    /*right: 0;*/
    grid-column: 3;
}


/* TOC formatting */
nav {
    list-style: none;
    padding:0;
    background-color: var(--nav-bg-color);
}
nav ul {
    list-style: none;
    padding:0;
}
nav li {
    padding: 0.25rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
}
nav a:hover {
    background-color: #dcdcdc;
}

/* headers */
h1, h2,h3 {
    padding: 0.5rem 0;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}

/* code blocks */
pre.shiki {
    padding: 0.5rem 1rem;
}
pre.shiki {
    line-height: 130%;
    margin:0;
}
.codeblock-wrapper {
    border: 1px solid #8e8e8e;
    padding:0;
    margin:0;
    position: relative;
}
.codeblock-wrapper .codeblock-button {
    position: absolute;
    right:0;
    top:0;
}
p code {
    background-color: #f0f0f0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}
.highlighted-word {
    padding: 0.1rem;
    background: #dadcdc;
    border-radius: 0.25rem;
}

/* links */

a {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
}
table td, table th {
    padding: 0.25rem 0.5rem;
    border: 1px solid gray;
}
table th {
    color: white;
    background-color: gray;
}
